# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
android/
keystore/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
credentials.json
.idea
.vscode
pingpong-d4f52-firebase-adminsdk-fbsvc-380b824200.json
google-services.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
.vercel

# test coverage
coverage/

# diagnostic files
cascade-diagnostics.txt
qodana.sarif.json

# credentials
credentials/
